.bidcreation {
    margin: 0 auto;
    padding: 0;
    width: 70%;
  }

  .bidcreation .heading{
    padding: 50px;
    margin-top: 1%;
    text-align: center;
    font-family: 'Mirza', serif;
  }
  
  /* Style the form */
  .bidcreation .bidForm {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 7px 7px 7px;
    margin-bottom: 3%;
  }
  
  /* Style individual form elements */
  .bidcreation .bidForm .bidreq {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .bidcreation .bidForm .bidreq input[type="date"]{
    padding: 10px 20px;
    border-radius: 10px;
    color: #0c2943;

  }
 
  
  .bidcreation .bidForm .bidreq input[type="text"],
  input[type="number"],
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .bidcreation .bidForm .bidreq select {
    height: 40px;
  }
  
  /* Style the submit button */
  .bidcreation .bidForm .bidreq input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    background-color: #0c2943;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style the submit button on hover */
  .bidcreation .bidForm .bidreq input[type="submit"]:hover {
    background-color: white;
    color: #0c2943;
  }