
.flexing{
  display: flex;
  gap: 5%;

}

.outerdash{
  background-color: #133554;
  width: 302px;
  min-height:800px;
  border: 1px solid #133554;
}

.dashboard {
  margin-top: 50px;
  background-color: #133554;
  padding: 20px;
  border: 1px solid #133554;
  /* border-radius: 5px; */
  width: 300px;
  min-height:800px;
}



.dashboard .option {
  margin: 0 auto;
  /* padding: 10px; */
  /* border: 1px solid #133554; */
  background-color: #133554;
  /* border-radius: 5px; */
  text-align: center;
  cursor: pointer;
}

.dashboard .option a button{
  background-color:#133554;
  color:white;
  border: 1px solid  #133554;
  /* border-radius: 20px; */
  width: 100%;
  padding:8px ;
  margin: 1px;
}

.dashboard .option a button:hover{
  background-color:white;
  color: #133554;
  transition: ease-in-out .2s;
}

.managebid {
    margin: 0 auto;
    padding: 0;
    width: 70%;
    
  }

  .managebid .heading{
    padding: 50px;
    margin-top: 2%;
    text-align: center;
    font-family: 'Mirza', serif;
  }
  
  /* Style the form */
  .managebid .bidForm {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 50px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 7px 7px 7px;
    margin-bottom: 3%;
  }
  
  /* Style individual form elements */
  .managebid .bidForm .bidreq {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .managebid .bidForm .bidreq input[type="date"]{
    padding: 10px 20px;
    border-radius: 10px;
    color: #0c2943;
  }
  
  .managebid .bidForm .bidreq input[type="text"],
  input[type="number"],
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }

  
  /* Style the submit button */
  .managebid .bidForm .bidreq input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    background-color: #0c2943;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  /* Style the submit button on hover */
  .managebid .bidForm .bidreq input[type="submit"]:hover {
    background-color: white;
    color: #0c2943;
  }