@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.homecontainer {
  margin-top: 5%;
}

.homecontainer .flexdiv {
  color: #19951a;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: px;
  /* border: 2px solid rgb(27, 2, 2); */
  padding: 2px;
  justify-content: space-between;
}

.homecontainer .flexdiv .imgdiv {
  width: 50%;
  /* border: 2px solid rgb(234, 7, 7); */
}

.homecontainer .flexdiv .imgdiv .sideimg img {
  width: 90%;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.homecontainer .flexdiv .outerdiv {
  /* border: 2px solid rgb(229, 18, 18); */
  max-width: 50%;
}

.homecontainer .flexdiv .outerdiv .upperdiv .ul {
  margin-top: 20px;
}

.homecontainer .flexdiv .outerdiv .upperdiv .lowerdiv {
  margin-top: 100px;
}

.homecontainer .flexdiv .outerdiv .upperdiv .lowerdiv .trustimg{
  max-width: 70px;
  margin-left: 10px;
  margin-top: 30px;
}

.homecontainer .flexdiv .outerdiv .upperdiv .lowerdiv .trustimg .logos img{
  width: 100%;
}