
body{
    margin: 0;
    padding: 0;
}

.maintrans{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.maintrans .welcome{
    color: #0c2943;
    margin-top: 3%;
    text-align: center;
    font-family: 'Mirza', serif;
}

.maintrans .buyeroptions{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid gray;
    margin-top: 5%;
    box-shadow: 7px 7px 7px;
    border-radius: 10px;
}

.maintrans .buyeroptions .bids{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maintrans .buyeroptions .bids li{
    list-style: none;
    margin: 4%;
}

.maintrans .buyeroptions .bids li a button{
    background-color:#0c2943;
    color:white;
    border: 1px solid  grey;
    border-radius: 25px;
    width: 250px;
    padding:8px ;
}

.maintrans .buyeroptions .bids li a button:hover{
    background-color:white;
    color:#0c2943;
    transition: ease-in-out .2s;
}