
body{
    margin: 0;
    padding: 0;
    /* background-image: url("background-img.jpg"); */
    /* background: rgba(255, 255, 255, 0.1); */
    /* background-color: #d8d8f9; */
}



.flexing{
    display: flex;
    gap: 5%;

}

.outerdash{
    background-color: #133554;
    width: 302px;
    min-height:800px;
    border: 1px solid #133554;
}

.dashboard {
    margin-top: 50px;
    background-color: #133554;
    padding: 20px;
    border: 1px solid #133554;
    /* border-radius: 5px; */
    width: 300px;
    min-height:800px;
}



.dashboard .option {
    margin: 0 auto;
    /* padding: 10px; */
    /* border: 1px solid #133554; */
    background-color: #133554;
    /* border-radius: 5px; */
    text-align: center;
    cursor: pointer;
}

.dashboard .option a button{
    background-color:#133554;
    color:white;
    border: 1px solid  #133554;
    /* border-radius: 20px; */
    width: 100%;
    padding:8px ;
    margin: 1px;
}

.dashboard .option a button:hover{
    background-color:white;
    color: #133554;
    transition: ease-in-out .2s;
}


.viewtransprofile{
    width: 70%;
    margin-top: 5%;
    /* background-image: url("background-img.jpg");  */
 }
 
 .viewtransprofile header {
     background-color:  #0c2943;
     color: white;
     text-align: center;
     padding: 20px;
 }
 
 .viewtransprofile header .trans-info{
     display: flex;
     text-align: left;
     border-top: 2px solid #5a679f;
     padding: 10px;
 }
 
 .viewtransprofile header .trans-info .imgdiv{
     margin-top: 30px;
     background-color: white;
     border-radius: 50%;
     padding: 10px;
     padding-bottom: 0;
 
 }
 
 
 .viewtransprofile header .trans-info img {
     width: 100px;
     border-radius: 50px;
     height: 100px;
     object-fit: cover;
 }
 
 .viewtransprofile header .trans-info .namediv{
     margin-top: 50px;
 }
 
 .viewtransprofile header .trans-info h6 {
     margin-top: 10px;
     margin-left: 30px;
 }
 
 .viewtransprofile main {
     margin: 0 auto;
     text-align: center;
     margin-top: 5%;
     width: 1300px;
     /* border: 2px solid black; */
     padding: 10px;
 }
 
 .viewtransprofile main .tablebox{
     text-align: center;
     display: flex;
     justify-content: space-around;
     gap: 100px;
 }
 
 .viewtransprofile main .tablebox .product-list {
     /* border: 2px solid black; */
     width: 50%;
     padding: 10px;
 }
 
 
 .viewtransprofile main .tablebox .product-list h2 {
     font-family: 'Mirza', serif;
 }
 
 .viewtransprofile main .tablebox .product-list table {
     margin: 0 auto;
     margin-top: 50px;
     width: 100%;
     
 }
 
 .viewtransprofile main .tablebox .product-list table th {
     background-color: #0c2943;
     color: white;
     border: 1px solid #ccc;
     padding: 8px;
     text-align: center;
 }
 
 .viewtransprofile main .tablebox .product-list table td{
     background-color: rgb(206, 202, 202);
     color: #0c2943;
     border: 1px solid #ccc;
     padding: 8px;
     text-align: center;
 }
 
 
 
 
 /* Seller stats */
 .viewtransprofile main .tablebox .trans-stats {
     /* border: 2px solid black; */
     width: 50%;
     padding: 10px;
 }
 
 
 .viewtransprofile main .tablebox .trans-stats h2 {
     font-family: 'Mirza', serif;
 }
 
 .viewtransprofile main .tablebox .trans-stats table{
     margin: 0 auto;
     margin-top: 50px;
     width: 100%;
 }
 
 .viewtransprofile main .tablebox .trans-stats table th{
     background-color: #0c2943;
     color: white;
     border: 1px solid #ccc;
     padding: 8px;
     text-align: center;
 }
 
 .viewtransprofile main .tablebox .trans-stats table td{
     background-color: rgb(206, 202, 202);
     color: #0c2943;
     border: 1px solid #ccc;
     padding: 8px;
     text-align: center;
 }
 
 