.mainoption{
    /* background-color: gray; */
    
}

.mainoption .outerdiv{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15%;
    /* border: 2px solid black; */
} 

.mainoption .outerdiv .signuplist{
    display:flex;
}

.mainoption .outerdiv ul{
    list-style: none;
    display:flex;
    gap: 150px;
    
}

.mainoption .outerdiv .signuplist .opt{
    color:#038917;
    border: 2px solid rgb(11, 242, 8);
    margin: 20px;
    padding: 40px;
    width: 100%;
    border-radius: 25px ;
    background-color: aliceblue;
    text-align: center;
    
}