

body{
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.flexing{
    display: flex;
    gap: 5%;

}

.outerdash{
    background-color: #133554;
    width: 302px;
    min-height:800px;
    border: 1px solid #133554;
}

.dashboard {
    margin-top: 50px;
    background-color: #133554;
    padding: 20px;
    border: 1px solid #133554;
    /* border-radius: 5px; */
    width: 300px;
    min-height:800px;
}



.dashboard .option {
    margin: 0 auto;
    /* padding: 10px; */
    /* border: 1px solid #133554; */
    background-color: #133554;
    /* border-radius: 5px; */
    text-align: center;
    cursor: pointer;
}

.dashboard .option a button{
    background-color:#133554;
    color:white;
    border: 1px solid  #133554;
    /* border-radius: 20px; */
    width: 100%;
    padding:8px ;
    margin: 1px;
}

.dashboard .option a button:hover{
    background-color:white;
    color: #133554;
    transition: ease-in-out .2s;
}


.viewbids{
    width: 70%;
    text-align: center;
    margin-top: 10%;
}

.viewbids .tablediv{
    margin-top: 5%;
}

.viewbids .tablediv table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.viewbids .tablediv table th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.viewbids .tablediv table th {
    background-color: #0c2943;
    color: white;
}

.viewbids .tablediv table td {
    background-color: rgb(206, 202, 202);
    color: #0c2943;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.viewbids .tablediv table td .editbuton{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 5px;
}

.viewbids .tablediv table td .editbuton a{
    margin: 0 auto; 
}

.viewbids .tablediv table td .editbuton button{
    background-color: #0c2943;
    color: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 8px;
    width: 100px;
     margin: 0 auto; 
}

.viewbids .tablediv table td .editbuton button:hover{
    background-color: white;
    color: #0c2943;
}

